/* ===================== ヘッダー ===================== */
.header {
    background-color: #000;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.header__logo {
    width: 370px;
    height: auto;
}

/* 検索ボックス */
.header__search-wrap {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.header__search {
    max-width: 500px;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 24px;
}

.header__search::placeholder {
    color: #000;
    opacity: 1;
    /* ← Safari対策（薄くなるの防ぐ） */
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* ログアウトボタン */
.header__link-logout {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
}

/* マイページリンク */
.header__link-mypage {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

/* 出品ボタン */
.header__link-sell {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    font-size: 24px;
}

.address {
    max-width: 680px;
    margin: 60px auto;
}

.address__heading {
    text-align: center;
    margin-bottom: 60px;
}

.address__heading h2 {
    font-size: 36px;
    font-weight: bold;
}

/* =====================
   フォーム
===================== */
.form__group {
    margin-bottom: 50px;
}

.form__group-title {
    margin-bottom: 8px;
}

.form__group-title label {
    font-size: 24px;
    font-weight: bold;
}

.form__input--text input {
    width: 100%;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

/* エラー表示用（今は空でOK） */
.form__error {
    height: 20px;
    color: red;
    font-size: 20px;
}

/* =====================
   ボタン
===================== */
.form__button {
    margin-top: 100px;
}

.form__button-update {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #FF5555;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 26px;
    font-weight: bold;
}