/* ===================== ヘッダー ===================== */
.header {
    background-color: #000;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.header__logo {
    width: 370px;
    height: auto;
}

/* 検索ボックス */
.header__search-wrap {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.header__search {
    max-width: 500px;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 24px;
}

.header__search::placeholder {
    color: #000;
    opacity: 1;
    /* ← Safari対策（薄くなるの防ぐ） */
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* ログアウトボタン */
.header__link-logout {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
}

/* マイページリンク */
.header__link-mypage {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

/* 出品ボタン */
.header__link-sell {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    font-size: 24px;
}

/* =====================
   メイン
===================== */
.goods {
    max-width: 1380px;
    display: flex;
    margin: 70px auto;
}

.goods__left {
    width: 690px;
}

.goods__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background-color: #D9D9D9;
    font-size: 40px;
    /* 丸からはみ出た部分を切る */
    overflow: hidden;
}

.goods__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像を中央でトリミング */
}

.goods__right {
    width: 690px;
}

.goods__main,.goods__description,.goods__info,.goods__comments {
    margin: 0 auto;
    width: 570px;
}

.goods__name {
    font-size: 45px;
    font-weight: bold;
    margin: 0;
}

.goods__brand {
    font-size: 20px;
    margin: 0;
}

.goods__price {
    font-size: 30px;
}

.goods__review {
    display: flex;
    gap: 60px;
    margin-left: 30px;
}

.goods__review--heart,
.goods__review--comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.heart-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
/* ボタン */
.goods__buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 56px;
    margin: 20px auto;
    background-color: #FF5555;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
}

.goods__description {
    width: 570px;
    margin: 0 auto;
}

.goods__description h3,.goods__info h3,.goods__comments h3 {
    font-size: 36px;
    margin: 0;
}

.goods__comments h3 {
    color: #5F5F5F;
}

.goods__description p {
    font-size: 24px;
    height: 247px;
    width: 559px;
}

.goods__info p {
    font-size: 24px;
    font-weight: bold;
}

.tag {
    display: inline-block;
    background-color: #D9D9D9;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 20px;
}

/* 最初のタグだけ左に余白 */
.tag:first-of-type {
    margin-left: 30px;
}

/* タグ同士の間隔は少しだけ */
.tag+.tag {
    margin-left: 5px;
}

.condition {
    margin-left: 50px;
    font-size: 20px;
}

.comment {
    display: flex;
    align-items: center;
    gap: 15px;
}

.comment__profile {
    width: 70px;
    height: 70px;
    background-color: #D9D9D9;
    border-radius: 50%;
    /* 丸からはみ出た部分を切る */
    overflow: hidden;
}

.comment__profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像を中央でトリミング */
}

.comment__user {
    font-size: 30px;
    font-weight: bold;
}

.comment__text {
    padding: 20px 10px;
    height: 70px;
    background-color: #E5E5E5;
    font-size: 20px;
    border-radius: 4px;
}

.comment__label {
    display: block;
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
}

.comment__input {
    display: block;
    width: 100%;
    height: 246px;
    border: 2px solid #5F5F5F;
    margin-top: 10px;
    border-radius: 4px;
}

.form__button {
    margin-top: 50px;
}

.form__button-submit {
    width: 100%;
    height: 56px;
    background-color: #FF5555;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.form__error {
    height: 20px;
    color: red;
    font-size: 20px;
}