/* =====================
   ヘッダー
===================== */
.header {
    background-color: #000;
}

.header__inner {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.header__logo {
    width: 370px;
    height: auto; 
}

/* =====================
   ログインエリア
===================== */
.login {
    max-width: 680px;
    width: 100%;
    margin: 80px auto;
    padding: 0 20px;
}

/* 見出し */
.login__heading {
    text-align: center;
    margin-bottom: 60px;
}

.login__heading h2 {
    font-size: 36px;
    font-weight: bold;
}

/* =====================
   フォーム
===================== */
.form__group {
    margin-bottom: 30px;
}

.form__group-title {
    margin-bottom: 8px;
}

.form__group-title label {
    font-size: 24px;
    font-weight: bold;
}

/* input */
.form__input--text input {
    width: 100%;
    height: 57px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

/* エラー表示用 */
.form__error {
    margin-top: 5px;
    min-height: 20px;
    color: red;
    font-size: 20px;
}

/* =====================
   ボタン
===================== */
.form__button {
    margin-top: 60px;
}

.form__button-login {
    width: 100%;
    height: 65px;
    background-color: #FF5555;
    color: #fff;
    font-size: 26px;
    border-radius: 4px;
    border: none;
}

.form__button-login:hover {
    opacity: 0.9;
}
/* =====================
   ログインリンク
===================== */
.form__link {
    display: block;
    color: #0073CC;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}

.form__link:hover {
    text-decoration: underline;
}