/* ===================== ヘッダー ===================== */
.header {
    background-color: #000;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.header__logo {
    width: 370px;
    height: auto;
}

/* 検索ボックス */
.header__search-wrap {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.header__search {
    max-width: 500px;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 24px;
}

.header__search::placeholder {
    color: #000;
    opacity: 1;
    /* ← Safari対策（薄くなるの防ぐ） */
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* ログアウトボタン */
.header__link-logout {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
}

/* マイページリンク */
.header__link-mypage {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

/* 出品ボタン */
.header__link-sell {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    font-size: 24px;
}
/* =====================
   出品エリア
===================== */
.sell {
    max-width: 680px;
    margin: 80px auto;
}

.sell__heading {
    text-align: center;
    margin-bottom: 60px;
}

.sell__heading h2 {
    font-size: 36px;
    font-weight: bold;
}

/* =====================
   フォーム
===================== */
.form__group {
    margin-bottom: 30px;
}

.form__group-title {
    margin-bottom: 8px;
}

.form__group-title label {
    font-size: 24px;
    font-weight: bold;
}

/* 商品画像 */
.form__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 1px dashed #5F5F5F;
    cursor: pointer;
    /* カーソルをポインターに */
    overflow: hidden;
    /* 枠からはみ出た画像を隠す */
}

/* プレビュー画像のスタイル */
#preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* 枠に合わせて比率を保ちつつ収める */
    display: none;
    /* 最初は非表示にして場所を取らないようにする */
}

.form__image-button {
    width: 165px;
    height: 43px;
    background-color: #fff;
    color: #FF5655;
    border: 2px solid #FF5555;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* カテゴリ */
.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 20px;
}

.category-item input {
    display: none;
}

.category-item {
    padding: 5px 10px;
    color: #FF5655;
    background-color: #fff;
    border: 2px solid #FF5655;
    border-radius: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    /* 文字の改行しなくなる */
}

/*  選択されたとき */
.category-item:has(input:checked) {
    background-color: #FF5655;
    color: #fff;
}

/* 商品の状態 */
/* 商品の状態 */
.form__select-wrap {
    position: relative;
}

.form__select-wrap::after {
    content: "▼";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    /* クリック邪魔しない */
    font-size: 12px;
    color: #5F5F5F;
}

.form__select {
    width: 100%;
    height: 45px;
    padding: 0 40px 0 15px;
    font-size: 16px;
    font-weight: bold;
    color: #5F5F5F;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    appearance: none;
    /* デフォルトが消える */
}

.form__group-content input{
    width: 100%;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.form__group-content textarea {
    width: 100%;
    height: 125px;
    border: 1px solid #5F5F5F;
    resize: none;
}
/* =====================
   ボタン
===================== */
.form__button {
    margin-top: 100px;
}

.form__button-sell {
    width: 100%;
    height: 60px;
    background-color: #FF5555;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}
/* =====================
   仕切り線
===================== */
.divider {
    margin: 10px 0 40px;
    border: none;
    border-top: 1px solid #5F5F5F;
}

.product-detail h2, .product-description h2 {
    font-size: 30px;
    font-weight: bold;
    color: #5F5F5F;
    margin: 0 auto;
}

/* エラー表示用（今は空でOK） */
.form__error {
    height: 20px;
    color: red;
    font-size: 20px;
}